@page "/"
@inject IWidgetService WidgetService
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    List<ServiceResponse<Widget>> widgets;
    protected override async Task OnInitializedAsync()
    {
        widgets = await WidgetService.GetWidgets();
    }
}
