@page "/Login"
@attribute [AllowAnonymous]

@inject IAuthService AuthService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Login</PageTitle>


<div class="card-header text-center">
    <b>EGX Monitoring</b>
    <br />
    <img width="30%" height="30%" src="Images/EGXLogo.png"/>
</div>
<div class="card-body">
    <p class="login-box-msg">Sign in to start your Monitoring session</p>

    <EditForm Model="User" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="input-group mb-3">
            <InputText id="Username" @bind-Value="User.Username" class="form-control"></InputText>
            <ValidationMessage For="@(() => User.Username)"></ValidationMessage>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <InputText id="password" @bind-Value="User.Password" class="form-control" type="password"></InputText>
            <ValidationMessage For="@(() => User.Password)"></ValidationMessage>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    <input type="checkbox" id="remember">
                    <label for="remember">
                        Remember Me
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <ValidationSummary></ValidationSummary>
            <!-- /.col -->
        </div>
    </EditForm>

    <div class="text-danger">
        @errorMessage
    </div>
    <!-- /.social-auth-links -->



</div>

@code {
    private UserLogin User = new UserLogin();
    private string errorMessage = string.Empty;
    private string returnUrl = string.Empty;
    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var url))
        {
            returnUrl = url;
        }
    }
    private async Task HandleLogin()
    {
        var result = await AuthService.Login(User);
        if (result.Success)
        {
            //errorMessage = string.Empty;
            await LocalStorage.SetItemAsync("authToken", result.Data);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();

            NavigationManager.NavigateTo("/");
        }
        else
        {
            errorMessage = result.Message;
        }
    }
}
