@inherits LayoutComponentBase
@inject NavigationManager NavManager

@if (NavManager.Uri.ToLower().Contains("login"))
{
    <div class="hold-transition login-page">
        <div class="login-box">
            <div class="card card-outline card-primary">
                @Body
            </div>
        </div>
    </div>
}
else
{
    <div class="page">
        <SideBar />
        <Header />


        <main>


            <article class="content-wrapper">
                @Body
            </article>
        </main>

        <Footer />
    </div>

}


