@inherits LayoutComponentBase

<div class="page">
    <SideBar />
    <Header />


    <main>
       

        <article class="content-wrapper">
            @Body
        </article>
    </main>

    <Footer />
</div>
