@inject NavigationManager NavigationManager
<style>
    ul, ol {
        list-style: none;
        padding-left: 20px;
    }
</style>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="images/EGXLogo.png" alt="EGX Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">EGX Monitoring</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="images/avatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Monitoring User</a>
            </div>
        </div>

        @*<!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        *@
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item ">
                   <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            
                        </p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="#" class="nav-link" onclick="toggleSubMenu('WidgetMenu','toggleIcon')">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Widgets
                        </p>
                        <i id="toggleIcon" class="fas fa-chevron-up"></i>
                    </NavLink>
                    <ul id="WidgetMenu" class="sub-menu">
                        <li class="nav-item">
                            <i class="far fa-circle nav-icon"></i>
                            <NavLink href="/sublink1">Create Widget</NavLink>
                        </li>
                        <li class="nav-item">
                            <i class="far fa-circle nav-icon"></i>
                            <NavLink href="/sublink2">Edit Widget</NavLink>
                        </li>
                     
                    </ul>
                </li>
                <li class="nav-item">
                    <NavLink href="#" class="nav-link" onclick="toggleSubMenu('UsersMenu','toggleIcon1')">
                        <i class="fa fa-fw fa-user"></i>
                        <p>
                            Users
                        </p>
                        <i id="toggleIcon1" class="fas fa-chevron-up"></i>
                    </NavLink>
                    <ul id="UsersMenu" class="sub-menu">
                        <li class="nav-item">
                            <i class="far fa-circle nav-icon"></i>
                            <NavLink href="/sublink1">Create User</NavLink>
                        </li>
                        <li class="nav-item">
                            <i class="far fa-circle nav-icon"></i>
                            <NavLink href="/sublink2">Edit User</NavLink>
                        </li>
                        <li class="nav-item">
                            <i class="far fa-circle nav-icon"></i>
                            <NavLink href="/sublink3">Set User Widgets</NavLink>
                        </li>
                    </ul>
                </li>
               
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<script>
    function toggleSubMenu(menuId,toggleIconId) {
        var subMenu = document.getElementById(menuId);
        var toggleIcon = document.getElementById(toggleIconId);

        if (subMenu.style.display === "none" || subMenu.style.display === "") {
            subMenu.style.display = "block";
            toggleIcon.classList.remove("fa-chevron-down");
            toggleIcon.classList.add("fa-chevron-up");
        } else {
            subMenu.style.display = "none";
            toggleIcon.classList.remove("fa-chevron-up");
            toggleIcon.classList.add("fa-chevron-down");
        }
    }
</script>
@code {

}
